/*	Colors  */

$primary: 		#54667a;
$purple:		#7f64b5;
$purple-light:  #cdbcf0;

/*	Backgrounds: ;*/
$primary-bg:	#51b8f2;
$secondary-bg: 	#54667a;

$white:         #ffffff;
$grey:          #7b7b7b;
$black:         #000000;
$blue:          #117dbf;
$light-grey:    #efefef;
$lighter-grey:  #f7f7f7;
$dark-grey:     #222222;
$dark-orange:   #d95204;

/*	Media Queries: ;*/
$small-desktop: 1199px;
$tablet: 		1024px;
$mobile: 		767px;
$small-mobile: 	640px;

/* Path to assets */
$assets-path: 'assets'; // Default assets path which can be overwritten by files in a non-default directory
$fa-font-path: "assets/fonts" !default;
