/* ------------------------------------------------------------ *\
	WordPress admin area stylesheet
\* ------------------------------------------------------------ */
@import 'variables';
$assets-path: '..'; // Overwriting default assets path from _variables.scss
@import 'icons';
@import 'icons-secondary';

// Icon picker
.icon-picker {
	position: relative;
	margin-top: 20px;

	.icon-list {
		font-size: 0;
		height: 300px;
		overflow: scroll;
		position: relative;
		padding-bottom: 40px;

		& > * {
			box-sizing: border-box;
		}
		
		.item {
			display: inline-block;
			width: 24%;
			margin: 0.5%;
			height: 115px;
			font-size: 13px;
			padding: 5px;
			border: 1px solid #bbb;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.0980392);
			text-align: center;
			vertical-align: top;
			transition: background-color 0.2s, color 0.2s;

			&.selected {
				background-color: #32373c;
				color: white;
			}

			.item-wrapper {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
			}

			.item-image {
				width: 100%;

				i {
					font-size: 50px;
				}
			}

			.item-name {
				display: inline-block;
				-webkit-hyphens: auto;
			}
		}
	}

	.show-more {
		font-size: 13px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 5px;
		text-align: center;

		.background {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
			z-index: 0;
		}

		.button {
			color: black;
			position: relative;
			z-index: 1;
		}
	}
}

// Add New Category/Widget editor specific fix
.icon-picker.add_new_category, .icon-picker.widget_editor {
	.item {
		width: 32%; // 3 per row
		margin: 1%;

		&:nth-of-type(3n-2) {
			margin-left: 0;
		}

		&:nth-of-type(3n+3) {
			margin-right: 0;
		}
	}
}

// Edit category/Option Tree specific fix
.icon-picker.option_tree, .icon-picker.edit_category {
	.item {
		width: 24%; // 4 per row
		margin: 0.5%;

		&:nth-of-type(4n-3) {
			margin-left: 0;
			width: 24.5%;
		}

		&:nth-of-type(4n+4) {
			margin-right: 0;
			width: 24.5%;
		}
	}
}
