/* ------------------------------------------------------------ *\
	Audio
\* ------------------------------------------------------------ */

.mejs-container { background: #856cb9 !important; }

.mejs-container, .mejs-embed, .mejs-embed body, .mejs-container .mejs-controls { background: #856cb9 !important; }


.mejs-inner { background: #856cb9 !important; height: 60px;}

.mejs-container .mejs-controls { margin-top: 15px; top: 15px;}