/* ------------------------------------------------------------ *\
	Buttons
\* ------------------------------------------------------------ */

/*  Button Default  */

.button { margin-bottom: 0; height: 52px; font-size: 15px; background-color: $primary-bg; text-transform: uppercase; padding: 18px 15px!important; color: $white; }
.button:hover,
.button:focus { background: $secondary-bg; text-decoration: none; outline: none; }
.button {
	-webkit-transition: all 0.2s ease-out; 
	     -o-transition: all 0.2s ease-out; 
	        transition: all 0.2s ease-out; 
}

/*Btn White*/
.btn-white { background-color: $white; color: $primary-bg; }
.btn-white:hover { color: #fff; background-color: $primary-bg; }

/*  Button Grey  */
.btn-grey { background-color: $secondary-bg; color: #fff; }
.btn-grey:hover { background-color: #fff; color: $primary; }

/*  Button Orange  */

.button.orange { background: $dark-orange; border-color: transparent; color: $white; }
.button.orange:hover { color: $grey; border-color: $grey; background: $white; }

/*  Button Circle  */
.button.circle { width: 46px; height: 46px; line-height: 46px; padding: 0; border-radius: 50%; background: $light-grey; border: 0; text-align: center; color: $grey; font-size: 19px; }
.button.circle:hover { background: $white; }

/*Btn Purple*/
.btn-purple { padding: 0 34px; background-color: #856cb9; border: none; color: $white; }
.btn-purple:hover { background-color: #5d3e9d; }

/*Button Small*/
.btn-small { height: 44px; padding: 9px 15px!important; line-height: 1.73; }
.button.btn-small { border: 1px solid  $primary-bg; }
.btn-small.btn-purple { padding: 0 34px; border: none; }
.btn-white.btn-small { border-color: $white; }
.btn-grey.btn-small { border-color: $primary; }

/*Btn Play*/
.btn-play { position: relative; display: inline-block; width: 42px; height: 42px; border: 6px solid  $white; border-radius: 50%; }
.btn-play:after { content: ''; position: absolute; top: 50%; left: 50%; width: 0; height: 0; border-style: solid; border-width: 10px 0 10px 18px; border-color: transparent transparent transparent #ffffff; margin: -10px 0 0 -6px; }

/*Burger Button*/
.btn-menu { display: none; height: 9px; padding-top: 9px; }
.btn-menu span { position: relative; display: block; width: 25px; height: 15px; border-top: 3px solid $primary-bg; }
    
.btn-menu span:before,
.btn-menu span:after { position: absolute; width: 100%; height: 3px; background: $primary-bg; content: ''; }

.btn-menu span:before { top: -9px; }
.btn-menu span:after { top: 3px; }

.btn-menu span:before,
.btn-menu span:after,
.btn-menu span { 
    -webkit-transition: all .3s linear; 
            transition: all .3s linear; 
 }

.btn-menu.active span { border-color: transparent; }
.btn-menu.active span:before,
.btn-menu.active span:after { background: $primary-bg; }

.btn-menu.active span:before { 
-webkit-transform: rotate(45deg) translate(2.5px, 6px);
        transform: rotate(45deg) translate(2.5px, 6px);

}
.btn-menu.active span:after { 
-webkit-transform: rotate(-45deg) translate(2.5px, -6px);
        transform: rotate(-45deg) translate(2.5px, -6px); 
}


@media(max-width: $mobile) {
	.btn-menu { display: block; margin: 0 auto; height: inherit; }
	.btn-menu span { margin: 0 auto; }
}
