/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials {
		ul { overflow: hidden; margin: 0; list-style: none outside none; }
		li { float: left; margin: 9px 22px 0 0; padding: 0px 0;
			&:hover {
				.fa { color: #3a5795;
					-webkit-transform: rotate(360deg);
					    -ms-transform: rotate(360deg);
					     -o-transform: rotate(360deg);
					        transform: rotate(360deg);
				}

				.fa-twitter { color: #51b8f2; }
				.fa-google-plus { color: #d73d32; }
			}
		}
		a { display: inline-block; color: $primary;
			.fa {
				-webkit-transition: all 0.5s;
				     -o-transition: all 0.5s;
				        transition: all 0.5s;
			}        
		}
}

.widget_wplook_social_widget {
	ul { font-size: 0; line-height: 0; margin-right: -10px; }
	li { float: none; display: inline-block; margin: 0 10px 10px 0; font-size: 16px; line-height: 1.63; vertical-align: top; }
	li:last-child { margin-right: 0; }
	li a:before { display: none; }
	a { width: 50px; height: 45px; text-align: center; line-height: 45px; color: #fff; 
		-webkit-transition: all 0.5s;
		     -o-transition: all 0.5s;
		        transition: all 0.5s;
	}
	li:hover a { opacity: .7; }
	a .fa,
	li:hover .fa { width: 100%; color: #fff; text-align: center;
		-webkit-transform: none;
		    -ms-transform: none;
		     -o-transform: none;
		        transform: none;

		    -webkit-transition: none;
		         -o-transition: none;
		            transition: none;
	}
	a.facebook { background-color: #3b5aa0; }
	a.twitter { background-color: #51b8f2; }
	a.google { background-color: #f02b2b; }
	a.linkedin { background-color: #427aba; }
	a.rss { background-color: #f6992b; }
	a.pinterest { background-color: #c82121; }
	a.flickr { background-color: #ff0084; }
	a.youtube { background-color: #ea1111; }
	a.vimeo { background-color: #1c75da; }
	a.lastfm { background-color: #d51007; }
	a.soundcloud { background-color: #ff8800; }
	a.instagram { background-color: #3f729b; }
}
