/* ------------------------------------------------------------ *\
	Tabs
\* ------------------------------------------------------------ */

.tab-body { display: none; padding-top: 89px; }
.tab-body.current { display: block; }


/* Tabs Services */

.tab-head { background-color: $purple; padding-bottom: 43px; }
.section-doctors-alt .tab-head { padding: 36px 0 0; margin-bottom: 15px; background-color: #ffffff; }
.section-doctors-alt .tab-body { padding-top: 0; }
.list-services { margin: 0 -15px; list-style: none outside none; }
.list-services li { position: relative; float: left; width: 200px; height: 100px; padding-top: 8px; opacity: .6; text-transform: uppercase; }
.list-services li a { height: 100%; display: flex; flex-direction: column; justify-content: space-around; align-items: center; }
.list-services li,
.list-services li:after {
	-webkit-transition: all 0.4s;
	     -o-transition: all 0.4s;
	        transition: all 0.4s;
}
.list-services li.current { opacity: 1; }
.list-services li + li:before { content: ''; position: absolute; top: 0; bottom: 0; left: 0; width: 1px; background-color: #8c71c1; }
.list-services a,
.list-services .icon { display: block; text-align: center; }
.list-services .icon { min-height: 39px; line-height: 39px; vertical-align: middle; }
.list-services .text { line-height: 1; }
.list-services a { color: $white; }

.list-services li:hover { opacity: 1; }
.list-services li:hover a { text-decoration: none; color: white; }

.list-services li:after { content: ''; visibility: hidden; position: absolute; top: 100%; left: 50%; margin: 33px 0 0 -10px; width: 0; height: 0; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #ffffff transparent; opacity: 0; }
.list-services li.current:after { visibility: visible; opacity: 1; }

.list-services {
	[class^="icon-"], .fa { font-size: 48px; color: #fff; }
}

.service-description { 
	padding: 20px 0 18px 40px; border-left: 3px solid  #51b8f2; margin-bottom: 0px;
	h1 { margin-bottom: 22px; text-transform: uppercase;}
	h1 span { display: block; font-weight: 300; }
	a {text-transform: uppercase;}
}

.service-benefits { padding: 20px 0 18px 50px; border-left: 1px solid  #dee3e8; margin-bottom: 0px; }
.service-benefits h3 { margin-bottom: 25px; text-transform: uppercase; font-family: "Dosis", sans-serif;}
.list-checks { margin: 0; list-style: none outside none; }
.list-checks li { margin-bottom: 8px; }
.list-checks p { margin-bottom: 0; }
.list-checks .fa { margin-right: 9px; }

.service-video { position: relative; }
.service-video video { width: 100%; height: auto; cursor: pointer; }
.service-video .btn-play { position: absolute; top: 50%; left: 50%; pointer-events: none; cursor: pointer;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.section-doctors-alt .bx-wrapper { height: 136px; }
.section-doctors-alt .bx-viewport { height: 100% !important; }
.bx-wrapper .list-services-alt li { margin-left: -1px; }
.list-services-alt li { padding-top: 3px; opacity: 1; }
.list-services-alt a { color: #738497; font-weight: 700; }
.list-services-alt li:hover a,
.list-services-alt .current a,
.list-services-alt .current, .list-services-alt li:hover {
	[class^="icon-"], .fa {
		color: $purple;
	}
}
.list-services-alt li:after { border-color: transparent transparent #f0f4f7 transparent; }
.list-services-alt li + li:before { display: none; }
.section-doctors-alt .list-services-alt > li:before { content: ''; position: absolute; top: 0; bottom: auto; right: 0; width: 1px; height: 100%; display: block; background-color: #dee3e8; }
.list-services-alt {
	[class^="icon-"], .fa { color: #738497; }
}

.section-doctors-alt .bx-wrapper .bx-controls .bx-prev,
.section-doctors-alt .bx-wrapper .bx-controls .bx-next { width: auto; height: auto; margin-top: -35px; }
.section-doctors-alt .bx-wrapper .bx-controls .bx-prev { left: -30px; }
.section-doctors-alt .bx-wrapper .bx-controls .bx-next { right: -30px; }

.widget .list-services a { padding: 20px 0; }

@media(max-width: $small-desktop) {
	.list-services { margin: 0 -1%; font-size: 0; line-height: 0; }
	.list-services-alt { margin: 0; }
	.list-services li { float: none; display: inline-block; width: 14.67%; margin-right: 1%; vertical-align: top; }
	.list-services-alt li { float: left; width: 200px; margin: 0; margin-left: -1px; }
	.list-services li a { font-size: 14px; line-height: 1.1; }

	.list-services li + li:before { display: none; }

	.section-doctors-alt .slider-tabs { float: none; display: block; margin: 0 auto; width: 800px; }
}

@media(max-width: $tablet) {
	.tab-head { padding-bottom: 23px; }
	.list-services li:after { margin-top: 15px; }
	.tab-body { padding: 30px 0 100px; }
	.tab-body.current .form-col:last-child { margin-bottom: 0; }

	.service-description,
	.service-benefits { margin-bottom: 40px; }

	.section-doctors-alt .slider-tabs { width: 600px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	.list-services li:after { display: none; }
}

@media(max-width: $mobile) {
	.list-services li:after { display: none; }
	.list-services li { width: 32%; }

	.section-doctors-alt .slider-tabs { width: 200px; }
	.section-doctors-alt .list-services-alt > li:before { display: none; }
	.tab-body { padding-bottom: 30px; }
}


