/* ------------------------------------------------------------ *\
	404 Error page
\* ------------------------------------------------------------ */

.error-title {font-size: 160px; font-weight: normal; margin-bottom: 30px;}
.error-subtitle { font-weight: normal; margin-bottom: 30px; }