/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header-bar { border-bottom: 1px solid  #d8dde3; font-size: 0; line-height: 0;
	p { margin: 12px 0 10px; font-size: 14px; line-height: 1.86; }
	.socials { display: inline-block; vertical-align: middle;
		li { margin-top: -4px; }
		i { line-height: 1.6; }
	}
	.large-4 { text-align: right;
		> a { min-width: 209px; margin-bottom: -1px; vertical-align: middle; }
	}
	.large-6 + .large-6 { text-align: right; }
	.button { font-size: 16px!important;}
}

.header { position: relative; z-index: 400; background: #fff;
	.columns { padding: 0 !important; }
	.phone { min-width: 180px; }
}

.logo { margin: 22px 0; display: inline-block; font-family: "Dosis", sans-serif; font-weight: bold; font-size: 28px; text-transform: uppercase; color: $primary; }
a.logo:hover { color: $blue;}
.logo img { width: 90%; height: auto; display: block; margin-top: 7px; margin-bottom: 2px; }
/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */
.nav { position: relative; z-index: 20; padding-left: 28px; border-left: 1px solid  #d6dce2; margin-top: 29px; }
.nav ul { list-style: none outside none; }
.nav li { position: relative; float: left; }
.nav li:after { visibility: hidden; content: ''; position: absolute; top: 100%; left: 0; width: 261px; height: 35px; background: none; opacity: 0; }
.nav li + li { margin-left: 32px; }
.nav a { color: $primary; text-transform: uppercase; }
.nav a {
	-webkit-transition: all 0.5s;
	     -o-transition: all 0.5s;
	        transition: all 0.5s;
}

.nav li:hover > a,
.nav .current > a { color: $primary-bg; text-decoration: none; }
.nav li:hover:after { visibility: visible; }
.nav li:hover > .nav-dropdown { visibility: visible; opacity: 1; }
.nav-dropdown { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 400; width: 319px; padding: 30px 0; margin-top: 35px; background-color: $secondary-bg; opacity: 0; }
.nav-dropdown {
	-webkit-transition: all 0.5s;
	     -o-transition: all 0.5s;
	        transition: all 0.5s;
}
.nav-dropdown a { font-size: 14px; line-height: 3; font-weight: 700; color: #c0cfe0; }
.nav-dropdown a:before { font-family: FontAwesome; content: "\f067"; padding-right: 5px; }
.nav-dropdown li { float: none; display: block; padding: 0 29px; }
.nav-dropdown li + li { margin-left: 0; }
.nav-dropdown li:hover > a { color: #fff; text-decoration: none; }
.current-menu-item a { color: #c0cfe0; }
.current-menu-item > a { color: #117dbf; }
.nav-dropdown .current-menu-item a { color: #fff; }

.nav-dropdown .nav-dropdown { top: 0; left: 100%; margin: 0; }


@media(max-width: $small-desktop) {
	.header .columns { padding: 0 10px !important; }
.logo img { width: 90%; max-width: 290px; height: auto; display: block; margin-top: 7px; margin-bottom: 2px; }
	.nav { padding-left: 0; }
	.nav > ul { margin-left: 10px; }
	.nav > ul > li + li { margin-left: 10px; }
	.nav-dropdown { padding: 20px 0; }
	.nav-dropdown li { padding: 0 19px; }
}

@media(max-width: $tablet) {
	.logo { margin-bottom: 10px; }

	.nav { border: none; margin-top: 0; }

	.nav-dropdown { width: 220px; margin-top: 20px; }
	.nav li:after { height: 20px; }
	.header .phone { margin-top: -20px; }
}

@media(max-width: $mobile) {
	.header .columns { width: 100%; }
	.header { position: relative; padding-bottom: 20px; }
	.header .columns { padding: 0 13px !important; }
	.header .medium-8 { position: static; }
	.header .button { display: block; }
	.header .socials { margin: 10px auto; display: block; text-align: center; }
	.header .socials ul { display: inline-block; }
	.header .socials li { margin-top: 0; }
	.header .socials li:last-child { margin-right: 0; }
	.header .logo { width: 100%; }
	.header .logo img { margin: 0 auto; }
	.nav { position: absolute; top: 100%; left: 0; right: 0; z-index: 999; display: none; background-color: #fff; }
	.nav ul { margin: 0; }
	.nav li { float: none; display: block; }
	.nav > ul > li + li { margin-left: 0; }
	.nav li a { display: block; padding: 10px 15px; }
	.nav .current > a { background-color: $primary-bg; color: #fff; }
	.nav li:hover > .nav-dropdown,
	.nav-dropdown { visibility: visible; position: static; opacity: 1; display: none;width: 100%; padding: 10px 15px; margin-top: 0;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		        -webkit-transition: none;
		             -o-transition: none;
		                transition: none;
	}

	.nav .current:hover a,
	.nav .current > a { color: $white; }

	.nav li.has-dropdown {
		position: relative;

		&:before {
			font-family: FontAwesome;
			content: "\f107";
			position: absolute;
			right: 0;
			top: 0;
			padding: 5px 10px;
			font-size: 20px;
		}
	}
}
